@import "tailwindcss";

:root {
  --background: #d9e3e8;
  --customblack: #1e211b;
  --red: #cf2b0e;
}

@theme inline {
  --color-background: var(--background);
  --color-customblack: var(--customblack);
  --color-red: var(--red);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "ads-shinshowten", sans-serif; */
}

@keyframes dna-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-dna-scroll {
  animation: dna-scroll 90s linear infinite;
}